
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bitter', serif;
  font-stretch: expanded;
  background-color: #E1E6E8;
}

.header {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  padding: 32px;
  font-size: 50px;
  font-weight: bolder;
  colour: black;
}

#subtitle {
  font-family: 'Bitter', serif;
  font-variant-caps;
  font-size: 25px;
  font-weight: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Styling of navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
  padding-right: 20px;
  font-size: 25px;
}

  /* Styling bottom */
  .bottom {
  padding: 20px;
  font-size: 15px;
}
