.gallery{
  border: 4px: solid #ccc;
}
.gallery:hover{
  border: solid #613;}

.gallery img{
  width:100%;
  height:auto;
  padding-top: 20px;
  float: right;
}
.description{
  font-size: 20.5px
}
h1{
  text-align: center;
}
