body{
  margin:0 auto;
  background-color: #F4EAEA;
  font-family: 'Quattrocento', serif;
}
header{
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  display:block;
  color: #F4EAEA;
  margin-bottom:0;
  opacity: 1;
}
ul{
  width:100%;
}
li{
  text-align: center;
}
a{
  color: #F4EAEA;
}
nav{
  background-color: rgba(2,3,2,0.8);
}
.navbar{
  position: sticky;
  top:0;
  z-index: 2;
}
h1{
  text-align: center;
  font-weight:bold;
  padding-top:200px;
  padding-bottom: 100px;
  font-size: 80px;
  margin-bottom: 0px;
}
.dropbtn {
  background-color: rgba(200,200,200,0.6);
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover .dropbtn:focus {
  background-color: #3e8e41;
}
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 135px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.intro{
  max-width: 1000px;
  padding:20px;
  position:relative;
  text-align:center;
  margin:0 auto;
  font-weight: bold;
}
section{
  margin: 5%
}
.backgr{
  background-color: rgba(200,200,200,0.6);
  padding:2%;
}
.bhampic{
  position: relative;
  margin: 1.2% 8%;
  border-radius: 12px;
  height: 500px;
  width: auto;
}
#sellyoak{
  background-image: url(sellyoak.jpg);
  background-size: 100%;
  background-repeat: no-repeat
}
#moseley{
  background-image: url(moseley.jpg);
  background-size: 100%;
  background-repeat: no-repeat
}
#edgbaston{
  background-image: url(edgbaston.jpg);
  background-size: 100%;
  background-repeat: no-repeat
}
#erdington{
  background-image: url(erdington.jpg);
  background-size: 100%;
  background-repeat: no-repeat
}
#harborne{
  background-image: url(harborne.jpg);
  background-size:100%;
  background-repeat: no-repeat
}
#citycentre{
  background-image: url(citycentre.jpg);
  background-size: 100%;
  background-repeat: no-repeat
  }
#brindleyplace{
  background-image: url(brindleyplace.jpg);
  background-size: 100%;
  background-repeat: no-repeat
  }
p{
  padding: 10px;
  font-size: 30px;
  line-height: 24px;
  color: #F4EAEA;
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 50px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  width:100%;
}
small {
  opacity: 0;
}
.show-description p {
  height: 150px;
  width:100%;
}
.show-description small {
  opacity: 1;
}
small{
  font-size:20px;
}
@media (max-width:1100px){
  .bhampic{height:350px;}
  h1{font-size: 45px;}
  li{text-align: center;}
  small{font-size:18px;}
}
@media (max-width:700px){
  h1{font-size: 36px;}
  .bhampic{height:300px;}
  .description {font-size:13px;}
  li{text-align: center;}
  section{padding-top: 10px;}
  small{font-size:16px;}
  .show-description p {
    height: 170px;}
  .dropbtn{ padding-left: 10px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;}
  .dropdown-content {
      min-width: 83px;
      font-size: 14px;}
  .dropdown-content a {
      padding: 10px 10px;}
}
@media (max-width:500px){
  .bhampic{height:230px;}
  h1{font-size: 30px;}
  li{text-align: center;}
  small{font-size:16px;}
  .show-description p {
    height: 170px;}
  .dropbtn{ padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;}
  .dropdown-content {
    min-width: 83px;
    font-size: 14px;}
  .dropdown-content a {
    padding: 10px 10px;
        }
}
