<style>
.red-section {
  color:orange;
}
body{

}
.big-Size{
  font-size::50px;
}
</style>


#navigation-bar{
  background-color: yellow;
}


.nav-link{
  color:#d742f4};
  padding : 10pix ;
  font- family: "sans-serif";
  text-align:right;
}

.image-wrapper {
	    width: 100%;
	    height: 100%;
	    background-color: #000;
	    border-radius: 50%;
	    margin: 0;
        padding: 0;
    }
    .image-cropper {
    max-width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}



body {
	color: rgb(65,75,86);
  font-family: arial;
  margin: 0;
}

div {
  min-height: 100vh;
  width: 100vw;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 2.5em;
}

img {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
}

p {
  width: 40%;
  margin: 0 10vw 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

li#lower {
  margin-top: 7%;
}

li#lowest {
  margin-top: 14%;
}

div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}


  div.contrast {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
